.slide-fade-enter-active {
    transition: all 0.2 ease;
}

.slide-fade-levae-active {
    transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-levae-to {
    transform: translateY(10px);
    opacity: 0.5;
}