.card{
    background: #fefefe;
    box-shadow: 0px 4px 15px #f1f1f8;
    border: none;
    border-radius: 8px;
    text-decoration: none !important;

    .dashboard-card-title{
        font-weight: normal;
        font-size: 16px;
        color: #C5C5C5;
    }

    .dashboard-card-subtitle{
        font-weight: 600;
        font-size: 32px;
        color: #0c0d36;
    }
}